{% extends ':Mails:base.html.twig' %}

{% block content %}
    <table>
        <tr>
            <th class="vertical-padding">
                <h1>{{ contact.name }} ha emplenat el formulari de contacte.</h1>
                <br>
                <p>Comprova-ho a la teva llista de contactes del CMS <a href="{{ url('admin_app_contactmessage_list') }}">aquí</a>, o respon-li directament <a
                            href="{{ url('admin_app_contactmessage_answer', { id: contact.id }) }}">aquí</a></p>
                <br>
                <p>Bona sort!</p>
            </th>
        </tr>
    </table>
{% endblock %}
