{% extends ':Mails:base.html.twig' %}

{% block content %}
    <table>
        <tr>
            <th class="vertical-padding">
                <h1 class="left-margin-negative">Gràcies per contactar amb nosaltres {{ contact.name }}</h1>
                <br>
                <br>
                <p class="left-margin-negative">Et contestarem tan aviat com sigui possible. Estem en contacte.</p>
            </th>
        </tr>
    </table>
{% endblock %}
{% block footer %}{% endblock %}
