{% extends ':Mails:base.html.twig' %}

{% block subject %}Happy birthday!{% endblock %}

{% block content %}
    <table class="row">
        <tbody>
        <tr>
            <th><img src="{{ absolute_url(asset('bundles/app/img/birthday_notification.jpg')) }}"></th>
        </tr>
        </tbody>
    </table>
    <table class="row">
        <tbody>
        <tr>
            <th class="small-12 large-12 columns first last vertical-padding">
                <table>
                    <tr>
                        <th>
                            <h1>Felicitats {{ coworker.name }}!!!</h1>
                            <p>Avui que fas {{ coworker.birthday | age }} anys, tots els coworkers et desitgem que passes un molt bon dia!</p>
                        </th>
                        <th class="expander"></th>
                    </tr>
                </table>
            </th>
        </tr>
        </tbody>
    </table>
{% endblock %}
