{% extends ':Mails:base.html.twig' %}

{% block content %}
    <table class="container container-main">
        <tr>
            <th class="vertical-padding">
                <img src="{{ absolute_url(asset('bundles/app/img/birthday_notification.jpg')) }}">
            </th>
        </tr>
        <tr>
            <th class="vertical-padding">
                <h1 class="left-margin-negative">Feliç {{ coworker.birthday | age }} aniversari {{ coworker.name }} !!!</h1>
            </th>
        </tr>
    </table>
{% endblock %}
