{% extends ':Mails:base.html.twig' %}

{% block subject %}Factura{% endblock %}

{% block content %}
    <table class="row">
        <tbody>
        <tr>
            <th><img src="{{ absolute_url(asset('bundles/app/img/user_notification.jpg')) }}" alt="header image"></th>
        </tr>
        </tbody>
    </table>
    <table class="row">
        <tbody>
        <tr>
            <th class="small-12 large-12 columns first last vertical-padding">
                <table>
                    <tr>
                        <th>
                            <p class="grey-color">A continuació trobaràs adjunta la factura número {{ invoice.invoiceNumberWithF }} amb data {{ invoice.dateString }}.</p>
                            <p>L'import total és de <strong>{{ invoice.totalAmountString }}</strong>.</p>
                            <p class="grey-color"><br>Gràcies per la teva confiança.</p>
                        </th>
                        <th class="expander"></th>
                    </tr>
                </table>
            </th>
        </tr>
        </tbody>
    </table>
{% endblock %}
