{% extends ':Mails:base.html.twig' %}

{% block content %}
    <table class="row">
        <tr>
            <th class="small-12 first columns vertical-padding">
                <h4>Body</h4>
            </th>
            <th class="expander"></th>
        </tr>
    </table>
{% endblock %}
