{% extends ':Frontend:base.html.twig' %}

{% block main %}
    <div class="col-xs-12">
        <h2 class="text-center fresh-talent-ad">Event detail</h2>
        <h5>{{ event.title }}</h5>
        <h5>{{ event.type }}</h5>
        <h5>{{ event.description }}</h5>
        <a href="{{ path('front_events_list') }}">Llista</a>
    </div>
{% endblock %}
