{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-xs-3">
        <div class="alert alert-success" role="alert">
            <p class="text-center">sala coworking</p>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="alert alert-success" role="alert">
            <p class="text-center">events i formació</p>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="alert alert-success" role="alert">
            <p class="text-center">zona reunió</p>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="alert alert-success" role="alert">
            <p class="text-center">àrea stress-less</p>
        </div>
    </div>
{% endblock content %}
