{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-xs-3">
        <div class="alert alert-success" role="alert">
            <h3 class="text-center">sala coworking</h3>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="alert alert-magenta" role="alert">
            <h3 class="text-center">events i formació</h3>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="alert alert-success" role="alert">
            <h3 class="text-center">zona reunió</h3>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="alert alert-success" role="alert">
            <h3 class="text-center">àrea stress-less</h3>
        </div>
    </div>
{% endblock content %}
