{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-xs-3">
        <div class="alert alert-green" role="alert">
            <h3 class="text-center no-m">{{ icon('users') }} <i class="gear"></i> sala coworking</h3>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="alert alert-violet" role="alert">
            <h3 class="text-center no-m">{{ icon('calendar-check-o') }} events i formació</h3>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="alert alert-magenta" role="alert">
            <h3 class="text-center no-m">{{ icon('dot-circle-o') }} zona reunió</h3>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="alert alert-dark-cyan" role="alert">
            <h3 class="text-center no-m">{{ icon('coffee') }} àrea stress-less</h3>
        </div>
    </div>
{% endblock content %}
