{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-xs-12">
        {% block content_content %}
            <strong>Hier könnte Ihre Werbung stehen ... </strong>
        {% endblock content_content %}
    </div>
    <div class="col-sm-3">
        {% block content_sidebar %}
            <h2>Sidebar</h2>
        {% endblock content_sidebar %}
    </div>
{% endblock content %}
