{% extends 'Frontend/base.html.twig' %}

{% block main %}
    <div class="container container-main">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h1 class="extra-m-bottom" ><i class="fa fa-coffee"></i> CRÈDITS</h1>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Disseny gràfic</td>
                            <td><a class="c-green" href="http://www.vanesadesign.com/" target="_blank">Visualgràfic</a></td>
                        </tr>
                        <tr>
                            <td>Fotografia</td>
                            <td><a class="c-green" href="http://www.pinapli.com" target="_blank">Pinapli</a></td>
                        </tr>
                        <tr>
                            <td>Gestió de continguts</td>
                            <td><a class="c-green" href="http://www.contents.cat" target="_blank">Contents</a></td>
                        </tr>
                        <tr>
                            <td>Desenvolupament web</td>
                            <td><a class="c-green" href="http://www.flux.cat" target="_blank">Flux</a></td>
                        </tr>
                        <tr>
                            <td>Agraïments</td>
                            <td><a class="c-green" href="https://github.com/wiglesias">Wilson Iglesias</a> i <a class="c-green" href="https://github.com/aserratorta">Anton Serra</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
