{% extends 'Frontend/base.html.twig' %}

{% block main %}
    <div class="container container-main">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="no-m-top">CRÈDITS</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-6 extra-m-bottom">
                <img style="border: solid 1px lightgrey" class="img-responsive" src="{{ asset('bundles/app/img/credits-cofee-square.jpg') | imagine_filter('800x800') }}" alt="Credits image">
            </div>
            <div class="col-xs-12 col-sm-7 col-md-6">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Disseny gràfic</td>
                            <td><a class="c-green" href="http://www.vanesadesign.com/" target="_blank">Visualgràfic</a></td>
                        </tr>
                        <tr>
                            <td>Fotografia</td>
                            <td><a class="c-green" href="http://www.pinapli.com" target="_blank">Pinapli</a></td>
                        </tr>
                        <tr>
                            <td>Gestió de continguts</td>
                            <td><a class="c-green" href="http://www.contents.cat" target="_blank">Contents Marketing Online</a></td>
                        </tr>
                        <tr>
                            <td>Desenvolupament web</td>
                            <td><a class="c-green" href="http://www.flux.cat" target="_blank">Flux</a></td>
                        </tr>
                        <tr>
                            <td>Agraïments</td>
                            <td><a class="c-green" href="https://github.com/wiglesias">Wils Iglesias</a> i <a class="c-green" href="https://github.com/aserratorta">Anton Serra</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
