{% extends ':Frontend:base.html.twig' %}

{% block title %}Política de privacitat · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container container-main">
        <div class="row">
            <div class="col-md-12">
                <h1>Política de privacitat</h1>
            </div>
        </div>
    </div>
{% endblock %}
