# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:           127.0.0.1
    database_port:           ~
    database_name:           symfony
    database_user:           travis
    database_password:       ~
    database_server_version: 5.5

    mailer_transport:   smtp
    mailer_host:        127.0.0.1
    mailer_user:        ~
    mailer_password:    ~
    mailer_destination: dummy@gmail.com
    mailer_url_base:    www.dummy.com

    # A secret key that's used to generate certain security-related tokens
    secret: Th1sT0kenIsNotSoS3cretCh4ngeIt

    locale: ca

    google_analytics_enabled: false
    google_analytics_account: "UA-fake..."

    path_java:         /usr/bin/java
    path_node:         /usr/bin/nodejs
    path_node_modules: /home/<user>/node_modules

    private_admin_test_user:      admin
    private_admin_test_pass:      admin
    private_editor_test_user:     user
    private_editor_test_pass:     user
    private_admin_prod_user:      user
    private_admin_prod_pass:      pass
    private_admin_prod_email:     email
    private_admin_prod_firstname: firstname
    private_admin_prod_lastname:  lastname

    project_web_title: "Espai Kowo"
    espai_kowo_fiscal_data: { company_name: "", vat_number: "", address: "", city: "", province: "", country: "", bank_account: "", invoice_footer: "" }

    recaptcha_public_key:  11AAbb22CCdd
    recaptcha_private_key: 11AAbb22CCff

    facebook_pixel_enabled: false
    facebook_pixel_id:      XXXXXX

    mailchimp_api_key:            xxxxxxx-us5
    mailchimp_newsletter_list_id: xxxxxxx
    mailchimp_free_trial_list_id: xxxxxxx

    knp_disqus.api_key:        YOUR_PUBLIC_API_KEY
    knp_disqus.blog.shortname: "dolor-sid"
