// Imports
@import "../../../../../vendor/twbs/bootstrap/less/bootstrap.less";
@import "../../../../../vendor/components/font-awesome/less/font-awesome.less";

// Fonts
@icon-font-path: "/bundles/app/fonts/";
@fa-font-path:   "/bundles/app/fonts";

// Brand colors
@ek-c-white:      #FFFFFF;
@ek-c-green:      #A1C548;
@ek-c-orange:     #E27436;
@ek-c-violet:     #40315F;
@ek-c-magenta:    #AF1F69;
@ek-c-dark-cyan:  #5E9B9A;
@ek-c-grey:       #808080;
@ek-c-ligth-grey: #F9F9F9;
.c-green { color: @ek-c-green; }
.c-grey  { color: @ek-c-grey; }
.grey-background { background-color: @ek-c-ligth-grey; }

// Custom Bootstrap vars
@link-color: @gray-base;

// Custom vars
@ek-s-base: 20px;
@ek-s-base-plus: 60px;
@ek-s-base-minus: 10px;
@gap-extra-big: @gap-big * 2;
@gap-big:       @gap-normal * 2;
@gap-normal:    20px;
@gap-small:     @gap-normal / 2;
@ek-font-size-base:  16px;
@ek-font-size-large: ceil((@font-size-base * 1.25));
@ek-font-size-small: ceil((@font-size-base * 0.95));

// Custom Navbar
@navbar-height: 80px;
@navbar-border-radius: 0;
@navbar-inverse-link-active-color: @ek-c-green;
@navbar-inverse-link-color: @ek-c-white;
.navbar {
  margin-bottom: 0;
}

.navbar-logo {
  margin-top: -20px;
}

// Custom main container
.container-main {
  min-height: 400px;
}

// Custom margins
.no-m { margin: 0}
.no-m-bottom { margin-bottom: 0}
.extra-m-top { margin-top: @ek-s-base-plus}
.small-m-bottom { margin-bottom: @gap-small; }
.content {
  margin: @ek-s-base-plus 0;
  @media(max-width: @screen-sm-max) { margin: @ek-s-base 0; }
}

// custom paddings
.p-vertical {
  padding: 40px 0;
}

// Custom alters
.alert-green {
  .alert-variant(@ek-c-green; @ek-c-green; @body-bg);
  @media(max-width: @screen-xs-max) {
    h4 { font-size: 1em; }
  }
}

.alert-orange {
  .alert-variant(@ek-c-orange; @ek-c-orange; @body-bg);
  @media(max-width: @screen-xs-max) {
    h4 { font-size: 1em; }
  }
}

.alert-violet {
  .alert-variant(@ek-c-violet; @ek-c-violet; @body-bg);
  @media(max-width: @screen-xs-max) {
    h4 { font-size: 1em; }
  }
}

.alert-magenta {
  .alert-variant(@ek-c-magenta; @ek-c-magenta; @body-bg);
  @media(max-width: @screen-xs-max) {
    h4 { font-size: 1em; }
  }
}

.alert-dark-cyan {
  .alert-variant(@ek-c-dark-cyan; @ek-c-dark-cyan; @body-bg);
  @media(max-width: @screen-xs-max) {
    h4 { font-size: 1em; }
  }
}

.fresh-talent-ad {
  color: @ek-c-green;
  -webkit-transform: rotate(352deg);
  -moz-transform: rotate(352deg);
  -o-transform: rotate(352deg);
  @media(max-width: @screen-xs-max) { font-size: 1.2em; }
}

.alert {
  h4 {
    font-weight: normal;
    line-height: 1.5;
    white-space: nowrap;
  }
}

// Scroll to top
.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 2000;
  background-color: @ek-c-orange;
  color: @ek-c-white;
  width: 50px;
  height: 48px;
  line-height: 42px;
  right: 15px;
  bottom: 15px;
  padding-top: 2px;
  border-radius: 4px;
  .transition (all 0.5s ease-in-out);
  &.show {
    visibility: visible;
    cursor: pointer;
    opacity: 0.85;
  }
  i.fa {
    line-height: inherit;
  }
}

// Custom homepage
.jumbotron {
  text-align: right;
  button {
    color: @ek-c-white;
  }
  padding-top: 690px;
  padding-bottom: 0;
  margin-bottom: 0;
  background: @ek-c-white url("/bundles/app/img/hero3-edited.jpg") no-repeat center center;
  min-height: 800px;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}

// Footer
footer {
  color: @ek-c-white;
  padding: 40px 0;
  margin: 0;
  &.footer {
    background-color: black;
  }
  a {
    color: @ek-c-white;
    &:hover {
      text-decoration: none;
      color: @ek-c-green;
    }
  }
}

.text-title {
  color: @ek-c-green;
}

.under-construction-warning {
  margin: 20px;
}

.social-networks {
  margin: 5px 0;
}
