.black-background { background-color: #000000; }
.green-background { background-color: #A1C548; }
.white-background { background-color: #FFFFFF; }
.white-color      { color: #FFFFFF; }
.green-color      { color: #A1C548; }

/*Margins*/
.vertical-padding { padding: 20px 0; }
.padding-bottom   { padding: 16px 0; }
