.black-background { background-color: #000000; }
.green-background { background-color: #A1C548; }
.white-color      { color: #FFFFFF; }
.green-color      { color: #A1C548; }

/*Margins*/
.vertical-padding { padding: 40px 0; }
