{% for flash_message in app.session.flashBag.get('notice') %}
    <div class="alert alert-success" role="alert">
        <i class="fa fa-check"></i> {{ flash_message }}
    </div>
{% endfor %}
{% for flash_message in app.session.flashBag.get('danger') %}
    <div class="alert alert-danger" role="alert">
        <i class="fa fa-warning"></i> {{ flash_message }}
    </div>
{% endfor %}
