<div class="p-vertical green-background-light">
    <div class="container">
        <div class="row white">
            <div class="block">
                <div class="col-xs-4 col-sm-4">
                    <ul class="pricing p-yel white-background no-m-bottom">
                        <li class="orange-background">
                            <i class="fa fa-5x fa-users c-white" aria-hidden="true"></i><br>
                            <h4 class="no-m-bottom c-white">Team room</h4>
                        </li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> Oficina 5 llocs de treball</strong></li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> 1.250 GB núvol privat</strong></li>
                        <li>Accés a Internet amb fibra òptica</li>
                        <li>Tarifa plana (totes les despeses incloses)</li>
                        <li class="orange-background">
                            <h3 class="no-m-top">675 <i class="fa fa-euro"></i></h3>
                            <span>al mes</span>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <ul class="pricing p-yel white-background no-m-bottom">
                        <li class="orange-background">
                            <i class="fa fa-5x fa-star c-white" aria-hidden="true"></i><br>
                            <h4 class="no-m-bottom c-white">Jornada completa</h4>
                        </li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> Taula de treball individual</strong></li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> 250 GB núvol privat</strong></li>
                        <li>Accés a Internet amb fibra òptica</li>
                        <li>Sala de reunions disponible</li>
                        <li class="orange-background">
                            <h3 class="no-m-top">145 <i class="fa fa-euro"></i></h3>
                            <span>al mes</span>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <ul class="pricing p-yel white-background no-m-bottom">
                        <li class="orange-background">
                            <i class="fa fa-5x fa-star-half-o c-white" aria-hidden="true"></i><br>
                            <h4 class="no-m-bottom c-white">Mitja jornada</h4>
                        </li>
                        <li>Taula de treball compartida</li>
                        <li>100 GB núvol privat</li>
                        <li>Accés a Internet amb fibra òptica</li>
                        <li>Sala de reunions disponible</li>
                        <li class="orange-background">
                            <h3 class="no-m-top">91 <i class="fa fa-euro"></i></h3>
                            <span>al mes</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
