<div class="p-vertical green-background-light">
    <div class="container">
        <div class="row white">
            <div class="block">
                <div class="col-xs-12">
                    <h3 class="no-m-top">Tarifa taula <em>flex</em></h3>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <ul class="pricing-cyan p-yel white-background no-m-bottom">
                        <li class="cyan-background">
                            <i class="fa fa-5x fa-check c-white" aria-hidden="true"></i><br>
                            <h4 class="no-m-bottom c-white">Ullal</h4>
                            <h5 class="no-m-bottom c-white">1 dia/setmana</h5>
                        </li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> Jornada completa</strong></li>
                        <li>Taula variable</li>
                        <li>100 GB núvol privat</li>
                        <li>Disponibilitat sala reunions limitada</li>
                        <li class="cyan-background-dark">
                            <h3 class="no-m-top">65 <i class="fa fa-euro"></i></h3>
                            <span>al mes</span>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <ul class="pricing-cyan p-yel white-background no-m-bottom">
                        <li class="cyan-background">
                            <i class="fa fa-5x fa-check c-white" aria-hidden="true"></i><i class="fa fa-5x fa-check c-white" aria-hidden="true"></i><br>
                            <h4 class="no-m-bottom c-white">Llacuna</h4>
                            <h5 class="no-m-bottom c-white">2 dies/setmana</h5>
                        </li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> Jornada completa</strong></li>
                        <li>Taula variable</li>
                        <li>100 GB núvol privat</li>
                        <li>Disponibilitat sala reunions limitada</li>
                        <li class="cyan-background-dark">
                            <h3 class="no-m-top">75 <i class="fa fa-euro"></i></h3>
                            <span>al mes</span>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <ul class="pricing-cyan p-yel white-background no-m-bottom">
                        <li class="cyan-background">
                            <i class="fa fa-5x fa-check c-white" aria-hidden="true"></i><i class="fa fa-5x fa-check c-white" aria-hidden="true"></i><i class="fa fa-5x fa-check c-white" aria-hidden="true"></i><br>
                            <h4 class="no-m-bottom c-white">Riu</h4>
                            <h5 class="no-m-bottom c-white">3 dies/setmana</h5>
                        </li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> Jornada completa</strong></li>
                        <li>Taula variable</li>
                        <li>100 GB núvol privat</li>
                        <li>Disponibilitat sala reunions limitada</li>
                        <li class="cyan-background-dark">
                            <h3 class="no-m-top">85 <i class="fa fa-euro"></i></h3>
                            <span>al mes</span>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12">
                    <h3 class="extra-m-top">Tarifa taula fixa</h3>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <ul class="pricing p-yel white-background no-m-bottom">
                        <li class="orange-background">
                            <i class="fa fa-5x fa-star-half-o c-white" aria-hidden="true"></i><br>
                            <h4 class="no-m-bottom c-white">Badia</h4>
                            <h5 class="no-m-bottom c-white">7 dies/setmana</h5>
                        </li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> Mitja completa</strong></li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> Taula fixa</strong></li>
                        <li>100 GB núvol privat</li>
                        <li>Sala de reunions sempre disponible</li>
                        <li class="orange-background-dark">
                            <h3 class="no-m-top">95 <i class="fa fa-euro"></i></h3>
                            <span>al mes</span>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <ul class="pricing p-yel white-background no-m-bottom">
                        <li class="orange-background">
                            <i class="fa fa-5x fa-star c-white" aria-hidden="true"></i><br>
                            <h4 class="no-m-bottom c-white">Delta</h4>
                            <h5 class="no-m-bottom c-white">7 dies/setmana</h5>
                        </li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> Jornada completa</strong></li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> Taula fixa</strong></li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> 250 GB núvol privat</strong></li>
                        <li>Sala de reunions sempre disponible</li>
                        <li class="orange-background-dark">
                            <h3 class="no-m-top">150 <i class="fa fa-euro"></i></h3>
                            <span>al mes</span>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <ul class="pricing p-yel white-background no-m-bottom">
                        <li class="orange-background">
                            <i class="fa fa-5x fa-users c-white" aria-hidden="true"></i><br>
                            <h4 class="no-m-bottom c-white">Team room</h4>
                            <h5 class="no-m-bottom c-white">7 dies/setmana</h5>
                        </li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> Jornada completa</strong></li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> Taula fixa</strong></li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> Oficina 5 llocs de treball</strong></li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> 1.250 GB núvol privat</strong></li>
                        <li class="orange-background-dark">
                            <h3 class="no-m-top">650 <i class="fa fa-euro"></i></h3>
                            <span>al mes</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
