{% extends ':Frontend:base.html.twig' %}

{% block title %}Serveis · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container container-main">
        <div class="row">
            <div class="col-xs-12 normal-m-bottom">
                <h2 class="no-m-top">Espai Kowo, la teva sala de coworking a les Terres de l'Ebre</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>Un espai de coworking és una oficina de treball pensada para petites empreses, treballadors autònoms i emprenedors. L'objectiu principal és compartir un espai de treball obert per crear sinergies entre els usuaris o <em>coworkers</em>.</p>
            </div>
            <div class="col-xs-12">
                <h4 class="text-muted">Taules de treball</h4>
                <img class="img-responsive" src="{{ asset('bundles/app/img/services_working_tables_room.jpg') | imagine_filter('2400x1000') }}" alt="Taules de treball">
                <p class="small-m-top">Espai Kowo disposa de 13 taules de treball individuals de 180x80 cm amb accés a Internet mitjançant fibra òptica d'alta velocitat (600Mbps). Cada coworker disposa de clau d'accés individual, calaixera i un armariet privat. La tarifa del servei és una quota plana mensual que inclou totes les despeses de subministraments: aigua, llum, neteja, Internet, etc.</p>
                <p>Tot el subministrament elèctric s'alimenta d'energia 100% renovable, contribuint a reduir les emissions de carboni a l'atmosfera.</p>
            </div>
            <div class="col-xs-12">
                <h4 class="text-muted">Sala de reunions</h4>
                <img class="img-responsive" src="{{ asset('bundles/app/img/services_meeting_room.jpg') | imagine_filter('2400x1000') }}" alt="Sala de reunions">
                <p class="small-m-top">L'espai disposa d'una sala addicional de 25m<sup>2</sup> dissenyada per atendre reunions amb clients, realitzar activitats de formació, esdeveniments i videoconferències. Tots els coworkers poden reservar la sala sense cap mena de cost addicional.</p>
                <p>Aquesta sala està equipada amb un petit equip de so, una pantalla de 55" i resolució 4K i cadires per suportar un aformaent màxim de 30 persones. La sala es pot llogar a hores per qualsevol altra persona o empresa que no sigui coworker.</p>
            </div>
            <div class="col-xs-12">
                <h4 class="text-muted">Àrea <em>stress-less</em></h4>
                <img class="img-responsive" src="{{ asset('bundles/app/img/services_stress_less_area.jpg') | imagine_filter('2400x1000') }}" alt="Àrea stress-less">
                <p class="small-m-top">Finalment trobem un espai lúdic de 20m<sup>2</sup> on prendre un cafè, descansar, o atendre una reunió més informal. L'office està equipat amb nevera, màquina de cafè, i microones.</p>
            </div>
        </div>
    </div>
{% endblock %}
