{% extends ':Frontend:base.html.twig' %}

{% block title %}Serveis · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container container-main">
        <div class="row">
            <div class="col-xs-12 normal-m-bottom">
                <h2 class="no-m-top">Serveis</h2>
                <h4 class="text-muted">Espai Kowo, la teva sala de coworking</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>Un espai de coworking es una oficina de treball pensada para petites empreses, treballadors autònoms i emprenedors. La idea principal es compartir un espai de treball obert per crear sinèrgies entre els usuaris o <em>coworkers</em>.</p>
            </div>
            <div class="col-xs-12">
                <h5 class="text-muted">Taules de treball</h5>
                <img class="img-responsive" src="{{ asset('bundles/app/img/services_working_tables_room.jpg') | imagine_filter('2400x1000') }}" alt="Taules de treball">
                <p class="small-m-top">Espai Kowo disposa de 13 taules de treball individuals de 180x80 cm amb accés a Internet mitjançant fibra òptica d'alta velocitat (600Mbps). Cada coworker disposa de clau d'accés individual, calaixera i un armariet privat. La tarifa del servei es una quota mensual plana que inclou totes les despeses de subministraments: aigua, llum, neteja, Internet, etc.</p>
            </div>
            <div class="col-xs-12">
                <h5 class="text-muted">Sala de reunions</h5>
                <img class="img-responsive" src="{{ asset('bundles/app/img/services_meeting_room.jpg') | imagine_filter('2400x1000') }}" alt="Sala de reunions">
                <p class="small-m-top">L'espai disposa d'una sala addicional de 25m<sup>2</sup> dissenyada per atendre reunions amb clients, realitzar activitats de formació i esdeveniments. Tots els coworkers poden reservar la sala </p>
            </div>
            <div class="col-xs-12">
                <h5 class="text-muted">Àrea <em>stress-less</em></h5>
                <img class="img-responsive" src="{{ asset('bundles/app/img/services_stress_less_area.jpg') | imagine_filter('2400x1000') }}" alt="Àrea stress-less">
                <p class="small-m-top">Finalment trobem un espai més lúdic de 20m<sup>2</sup> on prendre un cafè, descansar, o atendre una reunió més informal.</p>
            </div>
        </div>
    </div>
{% endblock %}
