{% extends ':Frontend:base.html.twig' %}

{% block title %}{{ coworker.name }} · Coworker · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container container-main">
        <div class="row">
            <div class="col-sm-12 extra-m-bottom">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
