{% extends ':Frontend:base.html.twig' %}

{% block title %}{{ coworker.name }} · Coworker · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container container-main">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 extra-m-bottom">
                <h3 class="text-center extra-m-bottom">Benvingut a l'Espai Kowo, {{ coworker.name }}</h3>
                <h5 class="text-center extra-m-bottom">Omple aquest formulari amb les teves dades, si us plau.</h5>
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
