{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="box box-success">
        <div class="box-header">
            <h3 class="box-title">
                Indicadors
            </h3>
        </div>
        <div class="box-body">
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: {{ maleAmount }}%">
                    Homes {{ maleAmount }}%
                </div>
                <div class="progress-bar progress-bar-warning" style="width: {{ femaleAmount }}%">
                    Dones {{ femaleAmount }}%
                </div>
            </div>
        </div>
    </div>
{% endblock %}
